.container {
    display: flex;
    flex-direction: column;
    background-color: white;
    padding: 30px;
    border-radius: 5px;
}

label {
    text-transform: capitalize;
    font-size: 16px;
}

.form-input {
    font-size: 16px;
    border-radius: 2px;
    border: solid green;
    padding: 15px;
    width: 30vw;
    margin-bottom: 30px;
}

.image-thumb {
    width: 100px;

}

.image-thumb-wrapper {
    display: flex;
    justify-content: center;

}

.editor-button-wrapper {
    margin: 10px;
}

.form-wrapper{
    display: flex;
    flex-direction: column;
}