.form-container {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    width: 400px;
    z-index: 16;
    list-style: none;
    padding: 40px 40px 0 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-size: cover;
    background-position: center;
    box-shadow: -10px 0 20px -5px;
    transition: transform 0.2s;

}

.close-btn-wrapper {
    display: flex;
    justify-content: flex-end;
    width: 25vw;
}

.close-btn {
    border: none;
    border-radius: 2px;
    right: 0;
    background: transparent;
    color: white;
    cursor: pointer;
    font-size: 30px;
}

.close-btn:hover {
    color: red;

}

.input-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.input-label {
    font-size: 16px;
    text-align: left;
    width: 8vw;
    color: white;
    font-weight: 500;
}

.user-input {
    margin: 15px 0 5px 5px;
    width: 15vw;
    align-items: center;
    border-radius: 5px;
    padding: 3px;
    min-width: 120px;
    font-size: 16px;
}

.submit-btn {
    margin-top: 20px;
    background: darkgreen;
    cursor: pointer;
    color: white;
    font-size: 15px;
    padding: 10px 20px 10px 20px;
    border-radius: 5px;
}

.submit-btn:active {
    transform: scale(0.9);
}

.show-password-btn {
    position: absolute;

    right: 12%;
    appearance: none;
    background-color: #fff;
    margin: 0;
    font: inherit;
    color: currentColor;
    width: 1.15em;
    height: 1.15em;
    padding: 1px;
    border: solid black 11px;
    border-radius: 1.15em;
    transform: translateY(0.175em);
    display: grid;
    place-content: center;
    clip-path: ellipse(45% 21% at 50% 50%);

}

.show-password-btn::before {
    content: "";
    width: 0.75em;
    height: 0.75em;
    transform: scale(0);
    transition: 120ms transform ease-in-out;
    box-shadow: inset 1em 1em rgb(255, 255, 255);
    clip-path: ellipse(45% 21% at 50% 50%);
}


.show-password-btn:checked::before {
    transform: scale(2);
}