.panel-container {
    display: flex;
    flex-direction: column;
    background: white;
    border: solid black;
    z-index: 20;
    align-items: center;

}

.panel-open-confirmation-btn {
    font-size: 20px;
    padding: 20px;
    background: rgb(250, 250, 250);
    width: 100%;
}